:root {
    --orange: #ff9258;
    --yellow: #fcf4dd;
    --black:  #2b2b2b;
}

* {
    margin: 0 auto;
}

body {
    background-color:white
}

h1 {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 40px;
}

.duck-box {
    border: 3px solid black;
    padding: 100px;
}

/* duck head--------------------------------------------------------- */
.duck-head {
    background-color: var(--yellow);
    height: 140px;
    width: 155px;
    position: relative;
    left: 45px;
    border-radius: 90px;
}

.duck-eye-l {
    background-color: var(--black);
    height: 15px;
    width: 15px;
    position: relative;
    top: 50px;
    left: 25px;
    border-radius: 50px;
}

.duck-eye-r {
    background-color:  var(--black);
    height: 15px;
    width: 15px;
    position: relative;
    top: 35.5px;
    right: 25px;
    border-radius: 50px;
}

.duck-beak {
    background-color: var(--orange);
    height: 60px;
    width: 50px;
    border-radius: 0% 100% 51% 49% / 0% 0% 100% 100%;
    position: relative;
    top: 52px;
}

.duck-beak-d1 {
    background-color: var(--black);
    height: 5px;
    width: 5px;
    position: relative;
    right: 11px;
    top: 10px;
    border-radius: 51% 49% 50% 50% / 26% 28% 72% 74%;
}

.duck-beak-d2 {
    background-color: var(--black);
    height: 5px;
    width: 5px;
    position: relative;
    left: 11px;
    top: 5px;
    border-radius: 51% 49% 50% 50% / 26% 28% 72% 74%;
}

/* duck body------------------------------------------------------------- */
.duck-body {
    background-color: var(--yellow);
    height: 200px;
    width: 270px;
    border-radius: 50% 50% 44% 56% / 63% 63% 37% 37%;
}

.duck-wing {
    background-color: var(--yellow);
    height: 100px;
    width: 100px;
    border: 4px solid var(--black);
    position: relative;
    top: 30px;
    border-radius: 47% 53% 57% 43% / 100% 0% 100% 0%;
    border-top: none;
}

.duck-leg-l {
    background-color: var(--orange);
    height: 65px;
    width: 10px;
    position: relative;
    top: 90px;
}

.duck-leg-r {
    background-color: var(--orange);
    height: 65px;
    width: 10px;
    position: relative;
    top: 30px;
    left: 30px
}

.duck-foot-l {
    background-color: var(--orange);
    height: 20px;
    width: 45px;
    position: relative;
    top: 50px
}

.duck-foot-r {
    background-color: var(--orange);
    height: 20px;
    width: 45px;
    position: relative;
    top: 50px;
}